<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>

  <link rel="stylesheet" href="/styles.css"></link>
  <title>Supermarket</title>
</head>
<body>


  <!-- Task 5: 
  In the h1 tag below, use the "name" property to give the supermarket a title. 
  Use <%= %> to inject the value.  
  <h1>Welcome to the [HERE] Supermarket</h1>
  -->

  <h1>Welcome to the  Supermarket</h1>


  <!-- Task 6: Add an If ... Else statement here using the "open" property. 
  If the store is open, show the first <p> tag
  If the store is closed, show the second <p> tag -->

      <p>We are Open.</p>

      <p>We are Closed.</p>

  <h1>Inventory </h2>

  <!-- Task 7: Write a for loop that iterates through the "stock" property. Have it create a <p> tag for every item in the "stock" array.  -->





  <img src="/blue.jpg"/ height="200px">
</body>
</html>