<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Plug in the student's name using EJS -->
  <title>... Profile</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <h1>Comp Sci High Book</h1>
    <!-- Plug in the student's name using EJS -->
    <p>Welcome to ...'s profile page!</p>
  </header>
  <main>
    <section id="student-profile">
      <div class="profile-header">
        <!-- Plug in the student's imageUrl using EJS -->
        <img src="..." alt="Profile Picture" class="profile-picture">
        <!-- Plug in the student's name using EJS -->
        <h2>...</h2>
      </div>
      <div class="profile-details">
        <!-- Plug in the corresponding attributes using EJS -->
        <p><strong>Advisory:</strong>...</p>
        <p><strong>Fun Fact:</strong>...</p>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 Comp Sci High. All rights reserved.</p>
  </footer>
</body>

</html>